In [1]:
from IPython.core.display import HTML
def css_styling():
    styles = open("/Users/shreyanshrathore/Desktop/Data Science/2019-CS109A-master/content/styles/cs109.css").read()
    return HTML(styles)
css_styling()

In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option("display.max_columns", 100)

In [3]:
df = pd.read_csv("/Users/shreyanshrathore/Desktop/Data Science/2019-CS109A-master/docs/labs/lab02/data/goodreads.csv")

df.head(10)

   4.40 136455  0439023483  good_reads:book https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008 /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action                dir01/2767052-the-hunger-games.html  2958974            The Hunger Games (The Hunger Games, #1)
0  4.41  16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....            2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...                                                                                                                                                                                                     dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478  Harry Potter and the Order of the Phoenix (Har...
1  3.56  85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...            2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                                                                                                                                                                                                                             dir01/41865.Twilight.html  2579564                            Twilight (Twilight, #1)
2  4.23  47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...            1960.0  /genres/classics|/genres/fiction|/genres/histo...                                                                                                                                                                                                                 dir01/2657.To_Kill_a_Mockingbird.html  2078123                              To Kill a Mockingbird
3  4.23  34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...            1813.0  /genres/classics|/genres/fiction|/genres/roman...                                                                                                                                                                                                                   dir01/1885.Pride_and_Prejudice.html  1388992                                Pride and Prejudice
4  4.25  12363  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...            1936.0  /genres/classics|/genres/historical-fiction|/g...                                                                                                                                                                                                                   dir01/18405.Gone_with_the_Wind.html   645470                                 Gone with the Wind
5  4.22   7205  0066238501  good_reads:book  https://www.goodreads.com/author/show/1069006....            1949.0  /genres/classics|/genres/young-adult|/genres/c...                                                                                                                                                                                                             dir01/11127.The_Chronicles_of_Narnia.html   286677  The Chronicles of Narnia (Chronicles of Narnia...
6  4.38  10902  0060256656  good_reads:book  https://www.goodreads.com/author/show/435477.S...            1964.0  /genres/childrens|/genres/young-adult|/genres/...                                                                                                                                                                                                                     dir01/370493.The_Giving_Tree.html   502891                                    The Giving Tree
7  3.79  20670  0452284244  good_reads:book  https://www.goodreads.com/author/show/3706.Geo...            1945.0  /genres/classics|/genres/fiction|/genres/scien...                                                                                                                                                                                                                           dir01/7613.Animal_Farm.html  1364879                                        Animal Farm
8  4.18  12302  0345391802  good_reads:book  https://www.goodreads.com/author/show/4.Dougla...            1979.0  /genres/science-fiction|/genres/humor|/genres/...                                                                                                                                                                                                     dir01/11.The_Hitchhiker_s_Guide_to_the_Galaxy....   724713  The Hitchhiker's Guide to the Galaxy (Hitchhik...
9  4.03  20937  0739326228  good_reads:book  https://www.goodreads.com/author/show/614.Arth...            1997.0  /genres/fiction|/genres/historical-fiction|/ge...                                                                                                                                                                                                                    dir01/930.Memoirs_of_a_Geisha.html  1042679                                Memoirs of a Geisha

In [4]:
df = pd.read_csv("/Users/shreyanshrathore/Desktop/Data Science/2019-CS109A-master/docs/labs/lab02/data/goodreads.csv", 
                header = None, names = ['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls'
                                    , 'dir', 'rating_count', 'name'])

df.head(10)

   rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
0    4.40       136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html      2958974            The Hunger Games (The Hunger Games, #1)
1    4.41        16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...      1284478  Harry Potter and the Order of the Phoenix (Har...
2    3.56        85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html      2579564                            Twilight (Twilight, #1)
3    4.23        47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html      2078123                              To Kill a Mockingbird
4    4.23        34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html      1388992                                Pride and Prejudice
5    4.25        12363  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...  1936.0  /genres/classics|/genres/historical-fiction|/g...                dir01/18405.Gone_with_the_Wind.html       645470                                 Gone with the Wind
6    4.22         7205  0066238501  good_reads:book  https://www.goodreads.com/author/show/1069006....  1949.0  /genres/classics|/genres/young-adult|/genres/c...          dir01/11127.The_Chronicles_of_Narnia.html       286677  The Chronicles of Narnia (Chronicles of Narnia...
7    4.38        10902  0060256656  good_reads:book  https://www.goodreads.com/author/show/435477.S...  1964.0  /genres/childrens|/genres/young-adult|/genres/...                  dir01/370493.The_Giving_Tree.html       502891                                    The Giving Tree
8    3.79        20670  0452284244  good_reads:book  https://www.goodreads.com/author/show/3706.Geo...  1945.0  /genres/classics|/genres/fiction|/genres/scien...                        dir01/7613.Animal_Farm.html      1364879                                        Animal Farm
9    4.18        12302  0345391802  good_reads:book  https://www.goodreads.com/author/show/4.Dougla...  1979.0  /genres/science-fiction|/genres/humor|/genres/...  dir01/11.The_Hitchhiker_s_Guide_to_the_Galaxy....       724713  The Hitchhiker's Guide to the Galaxy (Hitchhik...

In [5]:
df.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

In [7]:
print(df.shape)
df.columns

(6000, 10)

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'], dtype='object')

In [8]:
print(np.sum([df.rating.isnull()]))
print(np.sum([df.review_count.isnull()]))
print(np.sum([df.isbn.isnull()]))
print(np.sum([df.booktype.isnull()]))
print(np.sum([df.author_url.isnull()]))
print(np.sum([df.year.isnull()]))
print(np.sum([df.genre_urls.isnull()]))
print(np.sum([df.dir.isnull()]))
print(np.sum([df.rating_count.isnull()]))
print(np.sum([df.name.isnull()]))

2
0
475
0
0
7
62
0
0
0

In [9]:
#try to locate where the rating is null
df[df.rating.isnull()]

      rating review_count  isbn booktype author_url  year genre_urls                              dir rating_count  name
3643     NaN         None  None     None       None   NaN        NaN  dir37/9658936-harry-potter.html         None  None
5282     NaN         None  None     None       None   NaN        NaN     dir53/113138.The_Winner.html         None  None

In [10]:
df[df.year.isnull()]

df.year.isnull()
df.shape

(6000, 10)

In [11]:
df[df.year.isnull()]

      rating review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir rating_count                                               name
2442    4.23          526         NaN  good_reads:book  https://www.goodreads.com/author/show/623606.A...   NaN  /genres/religion|/genres/islam|/genres/non-fic...                       dir25/1301625.La_Tahzan.html         4134                                          La Tahzan
2869    4.61            2         NaN  good_reads:book  https://www.goodreads.com/author/show/8182217....   NaN                                                NaN  dir29/22031070-my-death-experiences---a-preach...           23  My Death Experiences - A Preacherâs 18 Apoca...
3643     NaN         None        None             None                                               None   NaN                                                NaN                    dir37/9658936-harry-potter.html         None                                               None
5282     NaN         None        None             None                                               None   NaN                                                NaN                       dir53/113138.The_Winner.html         None                                               None
5572    3.71           35  8423336603  good_reads:book  https://www.goodreads.com/author/show/285658.E...   NaN                                    /genres/fiction  dir56/890680._rase_una_vez_el_amor_pero_tuve_q...          403  Ãrase una vez el amor pero tuve que matarlo. ...
5658    4.32           44         NaN  good_reads:book  https://www.goodreads.com/author/show/25307.Ro...   NaN  /genres/fantasy|/genres/fantasy|/genres/epic-f...  dir57/5533041-assassin-s-apprentice-royal-assa...         3850  Assassin's Apprentice / Royal Assassin (Farsee...
5683    4.56          204         NaN  good_reads:book  https://www.goodreads.com/author/show/3097905....   NaN  /genres/fantasy|/genres/young-adult|/genres/ro...                  dir57/12474623-tiger-s-dream.html          895                 Tiger's Dream (The Tiger Saga, #5)

In [12]:
df.year.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
5995    False
5996    False
5997    False
5998    False
5999    False
Name: year, Length: 6000, dtype: bool

In [13]:
#Exclude the missing value in your data frame
df = df[df.year.notnull()]

In [14]:
df.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

In [15]:
print(np.sum(df.year.isnull()))
df.shape

0

(5993, 10)

In [16]:
# conversion of datatype
df.rating_count = df.rating_count.astype(int)
df.review_count = df.review_count.astype(int)
df.year = df.year.astype(int)

/Users/shreyanshrathore/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [17]:
df.dtypes

rating          float64
review_count      int64
isbn             object
booktype         object
author_url       object
year              int64
genre_urls       object
dir              object
rating_count      int64
name             object
dtype: object

In [18]:
df.loc[df.genre_urls.isnull(), 'genre_urls'] = ""
df.loc[df.isbn.isnull(), 'isbn']=""

/Users/shreyanshrathore/miniconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [20]:
print(np.sum(df.genre_urls.isnull()))

0

In [21]:
test_string = df.author_url[0]
test_string

'https://www.goodreads.com/author/show/153394.Suzanne_Collins'

In [22]:
#Splits Author name from the URl
test_string.split('/')[-1].split('.')[1:][0]

'Suzanne_Collins'

In [23]:
# Code for doing the above thing for all the authors
def get_author(url):
    name = url.split('/')[-1].split('.')[1:][0]
    return name

In [24]:
# apply get_author to author_url using .map
# add new column author 
df['author'] = df.author_url.map(get_author)
df.author[0:5]

/Users/shreyanshrathore/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0    Suzanne_Collins
1        J_K_Rowling
2    Stephenie_Meyer
3         Harper_Lee
4        Jane_Austen
Name: author, dtype: object

In [25]:
df.genre_urls.head()

0    /genres/young-adult|/genres/science-fiction|/g...
1    /genres/fantasy|/genres/young-adult|/genres/fi...
2    /genres/young-adult|/genres/fantasy|/genres/ro...
3    /genres/classics|/genres/fiction|/genres/histo...
4    /genres/classics|/genres/fiction|/genres/roman...
Name: genre_urls, dtype: object

In [29]:
# Parse out genres form genre_urls
test_genre_string = df.genre_urls[0]
genres = test_genre_string.strip().split('|')
for e in genres:
    print(e.split('/')[-1])
    "|".join(genres)

young-adult
science-fiction
dystopia
fantasy
science-fiction
romance
adventure
book-club
young-adult
teen
apocalyptic
post-apocalyptic
action

In [30]:
# accepts a genre url and returns the genre name
def split_and_join_genres(url):
    genres = url.strip().split('|')
    genres = [e.split('/')[-1] for e in genres]
    return "|".join(genres)

In [31]:
#use map to create new 'genre' columns
df['genres'] = df.genre_urls.map(split_and_join_genres)
df.head()

/Users/shreyanshrathore/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name           author                                             genres
0    4.40        136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html       2958974            The Hunger Games (The Hunger Games, #1)  Suzanne_Collins  young-adult|science-fiction|dystopia|fantasy|s...
1    4.41         16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...       1284478  Harry Potter and the Order of the Phoenix (Har...      J_K_Rowling  fantasy|young-adult|fiction|fantasy|magic|chil...
2    3.56         85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html       2579564                            Twilight (Twilight, #1)  Stephenie_Meyer  young-adult|fantasy|romance|paranormal|vampire...
3    4.23         47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html       2078123                              To Kill a Mockingbird       Harper_Lee  classics|fiction|historical-fiction|academic|s...
4    4.23         34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html       1388992                                Pride and Prejudice      Jane_Austen  classics|fiction|romance|historical-fiction|li...

In [32]:
df[df.author == "Suzanne_Collins"]

      rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name           author                                             genres
0       4.40        136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html       2958974            The Hunger Games (The Hunger Games, #1)  Suzanne_Collins  young-adult|science-fiction|dystopia|fantasy|s...
242     4.53          5404  0545265355  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2010  /genres/young-adult|/genres/fiction|/genres/fa...  dir03/7938275-the-hunger-games-trilogy-boxset....        102330  The Hunger Games Trilogy Boxset (The Hunger Ga...  Suzanne_Collins  young-adult|fiction|fantasy|science-fiction|dy...
1512    4.31         79046  0439023491  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2009  /genres/young-adult|/genres/fiction|/genres/sc...                   dir16/6148028-catching-fire.html       1443600               Catching Fire (The Hunger Games, #2)  Suzanne_Collins  young-adult|fiction|science-fiction|dystopia|f...
1841    4.03         83643  0439023513  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2010  /genres/young-adult|/genres/science-fiction|/g...                      dir19/7260188-mockingjay.html       1316704                  Mockingjay (The Hunger Games, #3)  Suzanne_Collins  young-adult|science-fiction|dystopia|fiction|f...
2066    3.97          4070  043977134X  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2003  /genres/fantasy|/genres/fiction|/genres/childr...            dir21/262430.Gregor_the_Overlander.html         47358   Gregor the Overlander (Underland Chronicles, #1)  Suzanne_Collins  fantasy|fiction|childrens|adventure|childrens|...
2695    4.18           929  0439656249  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2005  /genres/fantasy|/genres/young-adult|/genres/fi...  dir27/385706.Gregor_and_the_Curse_of_the_Warmb...         25276  Gregor and the Curse of the Warmbloods (Underl...  Suzanne_Collins  fantasy|young-adult|fiction|adventure|children...
3444    4.23          1217  043979143X  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2007  /genres/fantasy|/genres/fiction|/genres/scienc...      dir35/537070.Gregor_and_the_Code_of_Claw.html         26349  Gregor and the Code of Claw (Underland Chronic...  Suzanne_Collins  fantasy|fiction|science-fiction-fantasy|young-...
3919    4.19           761  0439791464  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2006  /genres/fantasy|/genres/young-adult|/genres/fi...   dir40/319644.Gregor_and_the_Marks_of_Secret.html         16805  Gregor and the Marks of Secret (Underland Chro...  Suzanne_Collins  fantasy|young-adult|fiction|childrens|adventur...
4312    4.15          1254  0439650763  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2004  /genres/fantasy|/genres/young-adult|/genres/fi...  dir44/385742.Gregor_and_the_Prophecy_of_Bane.html         20877  Gregor and the Prophecy of Bane (Underland Chr...  Suzanne_Collins  fantasy|young-adult|fiction|adventure|children...

In [33]:
def df['genre_urls']

SyntaxError: invalid syntax (<ipython-input-33-c477509d4418>, line 1)

In [34]:
del df['genre_urls']

In [36]:
df.to_csv("/Users/shreyanshrathore/Desktop/Data Science/2019-CS109A-master/docs/labs/lab02/data/cleaned_goodreads_byShreyansh.csv", index = False, header = True)

In [37]:
# grouping
df[df.year < 0].name

47                               The Odyssey
246                    The Iliad/The Odyssey
455                             The Republic
596                               The Aeneid
629                              Oedipus Rex
674                           The Art of War
746                        The Bhagavad Gita
777                                 Antigone
1233                       The Oedipus Cycle
1397                          Aesop's Fables
1398                   The Epic of Gilgamesh
1428                                   Medea
1815                            The Oresteia
1882         The Trial and Death of Socrates
2078    The History of the Peloponnesian War
2527                           The Histories
3133                          Complete Works
3274                  The Nicomachean Ethics
3757                              Lysistrata
4402                           The Symposium
4475                                 Apology
5367                          Five Dialogues
Name: name, dtype: object

In [38]:
dfgb_author = df.groupby('author')
type(dfgb_author)

pandas.core.groupby.generic.DataFrameGroupBy

In [39]:
dfgb_author.count()

                       rating  review_count  isbn  booktype  author_url  year  dir  rating_count  name  genres
author
A_A_Milne                   6             6     6         6           6     6    6             6     6       6
A_G_Howard                  1             1     1         1           1     1    1             1     1       1
A_J_Cronin                  1             1     1         1           1     1    1             1     1       1
A_J_Jacobs                  1             1     1         1           1     1    1             1     1       1
A_J_Salt                    1             1     1         1           1     1    1             1     1       1
...                       ...           ...   ...       ...         ...   ...  ...           ...   ...     ...
_                          42            42    42        42          42    42   42            42    42      42
_gota_Krist_f               1             1     1         1           1     1    1             1     1       1
_mile_Zola                  4             4     4         4           4     4    4             4     4       4
_ric_Emmanuel_Schmitt       1             1     1         1           1     1    1             1     1       1
_sne_Seierstad              1             1     1         1           1     1    1             1     1       1

[2645 rows x 10 columns]

In [40]:
###### Before we start : what do we do about these titles where 'name' is unreadable? Try different encodings?
auth_name = 'A_id_al_Qarni'
df[df.author == auth_name].head()

      rating  review_count isbn         booktype                                         author_url  year                 dir  rating_count                                   name         author                                             genres
2213    4.19          1169       good_reads:book  https://www.goodreads.com/author/show/1201952....  2003  dir23/2750180.html         15781                          ÙØ§ ØªØ­Ø²Ù  A_id_al_Qarni  religion|religion|islam|self-help|non-fiction|...
5998    3.91           281       good_reads:book  https://www.goodreads.com/author/show/1201952....  2006  dir60/2750008.html          3083  Ø£Ø³Ø¹Ø¯ Ø§Ù
Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ
  A_id_al_Qarni  religion|islam|religion|self-help|spirituality...

In [42]:
df[df.author == auth_name].iat[0,8].encode('UTF-16')

b'\xff\xfe\xd9\x00\x84\x00\xd8\x00\xa7\x00 \x00\xd8\x00\xaa\x00\xd8\x00\xad\x00\xd8\x00\xb2\x00\xd9\x00\x86\x00'

In [43]:
df[df.author == auth_name].head()

      rating  review_count isbn         booktype                                         author_url  year                 dir  rating_count                                   name         author                                             genres
2213    4.19          1169       good_reads:book  https://www.goodreads.com/author/show/1201952....  2003  dir23/2750180.html         15781                          ÙØ§ ØªØ­Ø²Ù  A_id_al_Qarni  religion|religion|islam|self-help|non-fiction|...
5998    3.91           281       good_reads:book  https://www.goodreads.com/author/show/1201952....  2006  dir60/2750008.html          3083  Ø£Ø³Ø¹Ø¯ Ø§Ù
Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ
  A_id_al_Qarni  religion|islam|religion|self-help|spirituality...

In [44]:
df.columns

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'dir', 'rating_count', 'name', 'author', 'genres'], dtype='object')

In [45]:
authors = df.copy()
authors = authors[['rating', 'name', 'author']].groupby('author').agg({'rating': np.mean,'name': '|'.join})

In [46]:
authors = authors.reset_index()
authors.head()

       author  rating                                               name
0   A_A_Milne   4.365  Winnie-the-Pooh|The House at Pooh Corner|The H...
1  A_G_Howard   4.020                        Splintered (Splintered, #1)
2  A_J_Cronin   4.220                            The Keys of the Kingdom
3  A_J_Jacobs   3.750                      The Year of Living Biblically
4    A_J_Salt   4.940                    Nik Nassa & the Mark of Destiny

In [47]:
# split the column string and make a list of string book names
authors['name'] = authors.name.str.split('|')
authors.head()

       author  rating                                               name
0   A_A_Milne   4.365  [Winnie-the-Pooh, The House at Pooh Corner, Th...
1  A_G_Howard   4.020                      [Splintered (Splintered, #1)]
2  A_J_Cronin   4.220                          [The Keys of the Kingdom]
3  A_J_Jacobs   3.750                    [The Year of Living Biblically]
4    A_J_Salt   4.940                  [Nik Nassa & the Mark of Destiny]

In [48]:
len(authors.name[0])

6

In [49]:
authors['num_books'] = authors['name'].str.len()
authors

                     author    rating                                               name  num_books
0                 A_A_Milne  4.365000  [Winnie-the-Pooh, The House at Pooh Corner, Th...          6
1                A_G_Howard  4.020000                      [Splintered (Splintered, #1)]          1
2                A_J_Cronin  4.220000                          [The Keys of the Kingdom]          1
3                A_J_Jacobs  3.750000                    [The Year of Living Biblically]          1
4                  A_J_Salt  4.940000                  [Nik Nassa & the Mark of Destiny]          1
...                     ...       ...                                                ...        ...
2640                      _  3.988095  [Ø¹Ø²Ø§Ø²ÙÙ, Ø«ÙØ§Ø«ÙØ© ØºØ±ÙØ§Ø·Ø©, ØªØ±...         42
2641          _gota_Krist_f  4.340000           [The Notebook, The Proof, The Third Lie]          1
2642             _mile_Zola  3.990000  [Germinal (Les Rougon-Macquart, #13), L'Assomm...          4
2643  _ric_Emmanuel_Schmitt  4.160000                            [Oscar et la dame rose]          1
2644         _sne_Seierstad  3.740000                          [The Bookseller of Kabul]          1

[2645 rows x 4 columns]

In [50]:
authors.sort_values(by='num_books', ascending = False).iloc[0]

author                                            Stephen_King
rating                                                 3.91875
name         [The Stand, The Shining (The Shining #1), It, ...
num_books                                                   56
Name: 2349, dtype: object

In [52]:
dfgb_author[['rating','rating_count','review_count', 'year']].describe()

                      rating                                                        rating_count                                                                             review_count                                                                      year
                       count      mean       std   min     25%    50%     75%   max        count          mean           std      min       25%      50%       75%       max        count         mean          std     min      25%     50%      75%     max count         mean         std     min      25%     50%      75%     max
author
A_A_Milne                6.0  4.365000  0.078677  4.25  4.3275  4.365  4.4025  4.48          6.0  47842.333333  57135.314010    544.0  15559.50  30547.0  50401.25  157833.0          6.0   543.000000   682.473150     1.0   219.50   309.5   499.25  1886.0   6.0  1944.166667   29.294482  1926.0  1926.25  1927.5  1952.75  1997.0
A_G_Howard               1.0  4.020000       NaN  4.02  4.0200  4.020  4.0200  4.02          1.0  17073.000000           NaN  17073.0  17073.00  17073.0  17073.00   17073.0          1.0  3194.000000          NaN  3194.0  3194.00  3194.0  3194.00  3194.0   1.0  2013.000000         NaN  2013.0  2013.00  2013.0  2013.00  2013.0
A_J_Cronin               1.0  4.220000       NaN  4.22  4.2200  4.220  4.2200  4.22          1.0   1015.000000           NaN   1015.0   1015.00   1015.0   1015.00    1015.0          1.0   109.000000          NaN   109.0   109.00   109.0   109.00   109.0   1.0  1941.000000         NaN  1941.0  1941.00  1941.0  1941.00  1941.0
A_J_Jacobs               1.0  3.750000       NaN  3.75  3.7500  3.750  3.7500  3.75          1.0  39489.000000           NaN  39489.0  39489.00  39489.0  39489.00   39489.0          1.0  4371.000000          NaN  4371.0  4371.00  4371.0  4371.00  4371.0   1.0  2007.000000         NaN  2007.0  2007.00  2007.0  2007.00  2007.0
A_J_Salt                 1.0  4.940000       NaN  4.94  4.9400  4.940  4.9400  4.94          1.0     16.000000           NaN     16.0     16.00     16.0     16.00      16.0          1.0     6.000000          NaN     6.0     6.00     6.0     6.00     6.0   1.0  2014.000000         NaN  2014.0  2014.00  2014.0  2014.00  2014.0
...                      ...       ...       ...   ...     ...    ...     ...   ...          ...           ...           ...      ...       ...      ...       ...       ...          ...          ...          ...     ...      ...     ...      ...     ...   ...          ...         ...     ...      ...     ...      ...     ...
_                       42.0  3.988095  0.301211  3.15  3.8000  4.075  4.2075  4.47         42.0  11574.642857   9368.218450     10.0   4724.00   8709.5  15572.75   39302.0         42.0  1437.214286  1216.421371     1.0   534.75  1020.5  1745.75  4785.0  42.0  1998.904762   18.721071  1941.0  1994.75  2007.0  2010.75  2014.0
_gota_Krist_f            1.0  4.340000       NaN  4.34  4.3400  4.340  4.3400  4.34          1.0   2628.000000           NaN   2628.0   2628.00   2628.0   2628.00    2628.0          1.0   243.000000          NaN   243.0   243.00   243.0   243.00   243.0   1.0  1986.000000         NaN  1986.0  1986.00  1986.0  1986.00  1986.0
_mile_Zola               4.0  3.990000  0.100995  3.84  3.9750  4.035  4.0500  4.05          4.0   8358.250000   4553.226942   3594.0   5181.75   8095.0  11271.50   13649.0          4.0   283.750000   171.069917   125.0   189.50   243.5   337.75   523.0   4.0  1652.500000  456.345264   968.0  1649.75  1878.5  1881.25  1885.0
_ric_Emmanuel_Schmitt    1.0  4.160000       NaN  4.16  4.1600  4.160  4.1600  4.16          1.0   6439.000000           NaN   6439.0   6439.00   6439.0   6439.00    6439.0          1.0   424.000000          NaN   424.0   424.00   424.0   424.00   424.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0
_sne_Seierstad           1.0  3.740000       NaN  3.74  3.7400  3.740  3.7400  3.74          1.0  24993.000000           NaN  24993.0  24993.00  24993.0  24993.00   24993.0          1.0  2088.000000          NaN  2088.0  2088.00  2088.0  2088.00  2088.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0

[2645 rows x 32 columns]

In [53]:
#Using .groupby, we can divide the dataframe into subsets by the values of 'year'.
#We can then iterate over these subsets
# your code here
for year, subset in df.groupby('year'):
    #Find the best book of the year

    bestbook = subset[subset.rating == subset.rating.max()]
    if bestbook.shape[0] > 1:
        print(year, bestbook.name.values, bestbook.rating.values)
    else:
        print(year, bestbook.name.values[0], bestbook.rating.values[0])

-1500 The Epic of Gilgamesh 3.6
-800 The Iliad/The Odyssey 4.01
-560 Aesop's Fables 4.03
-512 The Art of War 3.92
-500 The Bhagavad Gita 4.06
-458 The Oresteia 3.96
-442 Antigone 3.52
-440 The Histories 3.94
-431 Medea 3.8
-429 Oedipus Rex 3.64
-411 The History of the Peloponnesian War 3.84
-400 Complete Works 4.3
-390 Apology 4.11
-380 The Republic 3.85
-370 The Symposium 3.99
-360 Five Dialogues 4.07
-350 The Nicomachean Ethics 3.88
-29 The Aeneid 3.77
4 The Seven Spiritual Laws of Success 4.04
8 Metamorphoses 4.01
13 The Day Jesus Rode Into Croydon 3.85
100 The New Oxford Annotated Bible, New Revised Standard Version 4.3
121 The Twelve Caesars 4.02
130 Holy Bible 4.45
158 The Golden Ass 3.88
174 Meditations 4.16
200 The Garden of Eden 3.75
201 Fe Fi FOE Comes 4.37
213 NaÃ¯ve. Super 3.9
397 Confessions 3.82
632 The Quran 4.37
800 Beowulf 3.38
900 The Arabian Nights 4.04
968 La BÃªte humaine (Les Rougon-Macquart, #17) 4.02
1002 The Pillow Book 4.04
1008 The Tale of Genji 3.68
1010 Shahnameh 4.52
1100 Rubaiyat of Omar Khayyam 4.22
1106 The TÃ¡in 3.98
1140 Poema de MÃ­o Cid 3.42
1200 The Poetic Edda 4.24
1215 ÙØ«ÙÙÛ ÙØ¹ÙÙÛ 4.44
1220 The Prose Edda 4.16
1300 The Imitation of Christ 4.16
1314 Inferno (The Divine Comedy, #1) 3.96
1321 The Divine Comedy 4.04
1348 The Decameron 3.85
1386 Auto-da-FÃ© 4.04
1390 Sir Gawain and the Green Knight 3.66
1391 Keep the Aspidistra Flying 3.86
1485 Le Morte d'Arthur 3.91
1516 Utopia 3.46
1522 Three Kingdoms 4.41
1532 The Prince 3.72
1572 The Complete Essays 4.21
1589 Titus Andronicus 3.7
1590 The Taming of the Shrew 3.82
1592 Monkey 4.04
1595 A Midsummer Night's Dream 3.93
1597 Richard III 3.9
1599 Much Ado About Nothing 4.05
1600 Henry V 3.85
1601 Twelfth Night 3.95
1602 Hamlet 3.98
1603 Othello 3.86
1604 Doctor Faustus 3.77
1605 King Lear 3.88
1606 Antony and Cleopatra 3.64
1608 Coriolanus 3.65
1609 Shakespeare's Sonnets 4.24
1611 Holy Bible 4.39
1621 The Anatomy of Melancholy 4.21
1623 The Complete Works 4.5
1635 La vida es sueÃ±o 3.98
1642 A Book of Five Rings 4.11
1667 Paradise Lost 3.77
1678 The Pilgrim's Progress 3.92
1680 The Divan 4.65
1691 The Practice of the Presence of God 4.31
1719 Robinson Crusoe 3.62
1721 Moll Flanders 3.45
1726 Gulliver's Travels 3.52
1729 A Modest Proposal and Other Satirical Works 4.03
1748 Clarissa, or, the History of a Young Lady 3.28
1749 The History of Tom Jones, a Foundling 3.72
1759 Candide 3.74
1767 The Life and Opinions of Tristram Shandy, Gentleman 3.76
1774 The Sorrows of Young Werther 3.59
1776 The Declaration of Independence and The Constitution of the United States 4.44
1778 Evelina 3.62
1781 Critique of Pure Reason 3.85
1782 Les Liaisons Dangereuses 4.08
1787 The Constitution of the United States of America 4.52
1790 The Marriage of Heaven and Hell 4.27
1791 Dream of the Red Chamber 4.05
1794 Songs of Innocence and of Experience 4.11
1795 The Monk 3.77
1798 Lyrical Ballads 3.92
1806 Phenomenology of Spirit 3.85
1811 Sense and Sensibility 4.04
1812 The Complete Grimm's Fairy Tales 4.29
1813 Pride and Prejudice 4.23
1814 Mansfield Park 3.79
1815 Emma 3.97
1817 Persuasion 4.12
1818 Frankenstein 3.7
1819 Ivanhoe 3.71
1820 The Legend of Sleepy Hollow 3.94
1823 The Night Before Christmas 4.34
1824 Don Juan 3.79
1825 Eugene Onegin 4.03
1826 The Last of the Mohicans (The Leatherstocking Tales #2) 3.67
1830 The Book of Mormon 4.42
1831 The Hunchback of Notre-Dame 3.93
1832 Faust 3.98
1833 Poetry 4.04
1834 PÃ¨re Goriot 3.79
1835 Hymns of The Church of Jesus Christ of Latter-day Saints 4.68
1837 A Season in Hell/The Drunken Boat 4.34
1839 A Hero of Our Time 4.09
1840 Tales of Mystery and Imagination 4.2
1841 The Old Curiosity Shop 3.69
1842 The pit and the pendulum and other stories (Penguin 60s) 4.12
1843 Lost Illusions 4.14
1844 The Raven 4.23
1845 The Raven and Other Poems 4.27
1847 Jane Eyre 4.07
1848 White Nights and Other Stories 4.09
1849 The Law 4.4
1850 Ishmael 4.4
1851 Paris Spleen 4.33
1852 Uncle Tom's Cabin 3.77
1853 The History of Joseph Smith by His Mother 4.37
1854 Walden & Civil Disobedience 3.97
1855 North and South 4.13
1856 Song of Myself 4.17
1857 Les Fleurs du Mal 4.26
1859 The Origin of Species 3.94
1860 Stepping Heavenward 4.27
1861 Notes from Underground 4.14
1862 Les MisÃ©rables 4.09
1863 From the Earth to the Moon (Extraordinary Voyages, #4) 3.76
1864 Our Mutual Friend 4.08
1865 ["Alice's Adventures in Wonderland & Through the Looking-Glass"
 'Wives and Daughters'] [4.05 4.05]
1866 Morning and Evening, Based on the English Standard Version 4.49
1867 Capital, Volume 1 (Das Kapital, #1) 4.15
1868 Little Women (Little Women, #1) 4.0
1869 The Idiot 4.15
1870 Complete Works 4.42
1871 Through the Looking-Glass, and What Alice Found There (Alice's Adventures in Wonderland #2) 4.09
1872 Middlemarch 3.89
1873 Around the World in Eighty Days 3.87
1874 The Complete Fairy Tales 4.27
1875 Illuminations 4.42
1876 The Adventures of Tom Sawyer 3.86
1877 L'Assommoir (The Dram Shop) (The Dram Shop) (Les Rougon-Macquart, #7) 4.05
1878 Human, All Too Human 4.2
1879 Sir Gibbie 4.25
1880 The Brothers Karamazov 4.28
1881 The Prince and the Pauper 3.81
1882 The Gay Science 4.23
1883 Thus Spoke Zarathustra 4.03
1884 The Death of Ivan Ilych 3.98
1885 Germinal (Les Rougon-Macquart, #13) 4.05
1886 Beyond Good and Evil 4.0
1887 A Study in Scarlet (Sherlock Holmes, #1) 4.13
1888 ['The Complete Fairy Tales' 'The Nightingale and the Rose'] [4.33 4.33]
1889 The Collected Poems 4.25
1890 Hunger 4.11
1891 A Scandal in Bohemia (The Adventures of Sherlock Holmes, #1) 4.22
1892 The Adventures of Sherlock Holmes (Sherlock Holmes, #3) 4.27
1893 The Memoirs of Sherlock Holmes (Sherlock Holmes, #4) 4.33
1894 The Jungle Books 3.97
1895 The Importance of Being Earnest and Other Plays 4.24
1896 Story of a Soul 4.36
1897 De Profundis and Other Writings 4.19
1898 The War of the Worlds 3.75
1899 The Complete Works of William Shakespeare 4.62
1900 Selected Stories 4.35
1901 The Tale of Peter Rabbit 4.14
1902 Holy Bible 4.66
1903 The Scarlet Pimpernel 4.05
1904 The Return of Sherlock Holmes (Sherlock Holmes, #6) 4.27
1905 A Little Princess 4.19
1906 The Unabridged Devil's Dictionary 4.15
1907 The Shepherd of the Hills 4.14
1908 The Complete Anne of Green Gables Boxed Set (Anne of Green Gables, #1-8) 4.42
1909 Martin Eden 4.31
1910 Gitanjali 4.33
1911 The Secret Garden 4.09
1912 Daddy-Long-Legs (Daddy-Long-Legs, #1) 4.07
1913 In the Shadow of Young Girls in Flower (In Search of Lost Time, #2) 4.39
1914 Rashomon and Seventeen Other Stories 4.1
1915 Jesus the Christ 4.66
1916 The Mysterious Stranger 4.14
1917 Anne's House of Dreams (Anne of Green Gables, #5) 4.1
1918 The Elements of Style 4.17
1919 Remembrance of Things Past 4.28
1920 The Guermantes Way 4.33
1921 Rilla of Ingleside (Anne of Green Gables, #8) 4.13
1922 Remembrance of Things Past 4.53
1923 Leave It to Psmith (Psmith, #4 ; Blandings Castle, #2) 4.28
1924 The Complete Sherlock Holmes 4.49
1925 The Captive & The Fugitive (In Search of Lost Time, #5-6) 4.41
1926 The World of Winnie-the-Pooh 4.41
1927 Time Regained (In Search of Lost Time, #7) 4.5
1928 The House at Pooh Corner 4.35
1929 Letters to a Young Poet 4.35
1930 The Complete Sherlock Holmes, Volume II 4.44
1931 The Joy of Cooking 4.15
1932 Journey to the End of the Night 4.25
1933 The Complete Novels 4.54
1934 I, Claudius/Claudius the God 4.42
1935 Musashi 4.41
1936 Three Comrades 4.48
1937 The Cost of Discipleship 4.35
1938 The Science of Mind 4.39
1939 Arch of Triumph 4.39
1940 The Little Prince 4.23
1941 Ø¹Ø¨ÙØ±ÙØ© Ø¹ÙØ± 4.25
1942 The Little House 4.27
1943 KÃ¼rk Mantolu Madonna 4.55
1944 Ficciones 4.48
1945 The Aleph and Other Stories 4.41
1946 The Complete Stories 4.34
1947 Survival in Auschwitz 4.32
1948 King of the Wind 4.17
1949 Paroles 4.27
1950 à®ªà¯à®©à¯à®©à®¿à®¯à®¿à®©à¯ à®à¯à®²à¯à®µà®©à¯ [Ponniyin Selvan] 4.71
1951 The Foundation Trilogy (Foundation, #1-3) 4.37
1952 Holy Bible 4.55
1953 The Flight of the Feathered Serpent 4.55
1954 The Return of the King (The Lord of the Rings, #3) 4.48
1955 Les rois maudits Vols 1-7 4.44
1956 Through Gates of Splendor 4.37
1957 The Cairo Trilogy (The Cairo Trilogy #1-3) 4.46
1958 Exodus 4.31
1959 ['Life and Fate' '100 Love Sonnets'] [4.44 4.44]
1960 The Annotated Alice 4.48
1961 New World Translation of the Holy Scriptures 4.59
1962 Labyrinths 4.47
1963 The Civil War 4.58
1964 The Feynman Lectures on Physics 4.57
1965 Manchild in the Promised Land 4.3
1966 The Disorderly Knights (The Lymond Chronicles, #3) 4.57
1967 ['The Master and Margarita' 'The Forgotten Soldier'] [4.33 4.33]
1968 The Proper Role of Government 4.49
1969 Pawn in Frankincense (The Lymond Chronicles, #4) 4.64
1970 The Fortress 4.67
1971 Tutunamayanlar 4.61
1972 Le Monogramme 4.78
1973 J.R.R. Tolkien 4-Book Boxed Set 4.58
1974 The Power Broker 4.51
1975 Checkmate (The Lymond Chronicles, #6) 4.71
1976 Roots 4.39
1977 A Lover's Discourse 4.37
1978 The Best of Roald Dahl 4.38
1979 GÃ¶del, Escher, Bach 4.29
1980 Cosmos 4.35
1981 The Lord God Made Them All 4.36
1982 The Book of Disquiet 4.52
1983 Essays and Lectures 4.27
1984 Ø§ÙØ¥Ø³ÙØ§Ù Ø¨ÙÙ Ø§ÙØ´Ø±Ù ÙØ§ÙØºØ±Ø¨ 4.46
1985 Lonesome Dove 4.44
1986 The Hitchhiker's Guide to the Galaxy 4.5
1987 Calvin and Hobbes 4.61
1988 The Essential Calvin and Hobbes 4.64
1989 The Hobbit 4.48
1990 The Authoritative Calvin And Hobbes 4.7
1991 Rain of Gold 4.49
1992 The Indispensable Calvin and Hobbes 4.71
1993 Mark of the Lion Trilogy 4.75
1994 The Complete Aubrey/Maturin Novels (5 Volumes) 4.69
1995 The Calvin and Hobbes Tenth Anniversary Book 4.63
1996 Calvin and Hobbes 4.75
1997 The Song of the Lioness Quartet (Song of the Lioness, #1-4) 4.57
1998 Harry Potter Boxset (Harry Potter, #1-7) 4.73
1999 The Harry Potter Collection (Harry Potter, #1-4) 4.63
2000 Standing for Something 4.64
2001 A Storm of Swords (A Song of Ice and Fire, #3-1) 4.5
2002 Way to Be! 4.62
2003 The Complete Far Side, 1980-1994 4.66
2004 Ù¾ÛØ±Ù Ú©Ø§ÙÙ 4.58
2005 The Complete Calvin and Hobbes 4.8
2006 Warriors Boxed Set (Warriors, #1-3) 4.67
2007 ESV Study Bible 4.76
2008 The Absolute Sandman, Vol. 4 4.75
2009 Black Dagger Brotherhood 4.69
2010 The Years Distilled 4.93
2011 Family Secrets 5.0
2012 ['A Book About Absolutely Nothing.'
 'Obscured Darkness (Family Secrets #2)' "Patience's Love"
 'Abstraction In Theory - Laws Of Physical Transaction'] [5. 5. 5. 5.]
2013 Blade Heart 4.93
2014 ['An Elephant Is On My House' 'Untainted (Photographer Trilogy, #3)'] [5. 5.]